# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C++ Build outputs
build/
bin/
*.obj
*.o
*.dll
*.so
*.dylib
*.pdb
*.ilk
*.exp
*.lib

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db
*.idb
*.i64
*.nam
*.id0
*.id1
*.id2
*.til
